*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body{
  background-color: #eeeff1;
  max-width: 1400px;
  margin: 0 auto;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 80px;

  .navbarHeading{
    color: #1a1c20;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
  }

  .iconSectionContainer{
  
    a{
      margin: 0px 10px;
      text-decoration: none;
      color: #1a1c20;
      span{
        margin-left: 5px;
      }
    }
    .emailBtn{
      color: #fff;
      background-color: #1a1c20;
      padding: 5px 15px;
      border-radius: 5px;
    }
  }
}

.intro-section{
  display: flex;
  margin: 50px 0px 100px 0px;
  align-items: center;
  gap: 40px;
  padding: 0px 50px;

  .intro-section-Content{
    flex: 1;
    display: flex;
    flex-direction: column;

    h2{
  font-size: 45px;
}
    /* p{} */
    .links{
      margin-top: 25px;

      a{
        display: inline-block;
        padding: 5px 10px;
        border: 2px solid #4a76ee;
        border-radius: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        transition: 0.1s;
        text-decoration: none;
        color: #4a76ee;
      }
    }
  }
  .profile-image{
    img{
      width: 350px;
      border-radius: 50%;
    }
  }

}

.skillsSection{
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  padding: 0px 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  h2{
    align-items: center;
    font-size: 35px;
  }
  p{
    margin-bottom: 20px;
  }
  .dev-skills-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .cells{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 200px;
      padding: 10px 20px;
      margin: 10px;
      border: 1.5px solid #d3d3d3;
      border-radius: 5px;

      img{
        width: 300px;
        height: 30px;
        object-fit: contain;
        border-radius: 2px;
      }
    }
  }
}

.testimonySection{
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  padding: 0px 50px;

  h2{
    font-size: 35px;
    margin-bottom: 30px;
  }
  .testimonyContentContainer{
    display: flex;
    gap: 50px;
    align-items: center;

    .testimonyImageContainer{   
      img{
        width: 200px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 10px;
      }   
      .testimony-image-header{
        font-weight: 600;
      }
      text-align: center;
    }
    .testimonytextContainer{
      flex: 1;
    }
  }
}

.contentSection{
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  padding: 0px 50px;

  h2{
    font-size: 35px;
    margin-bottom: 30px;
  }
  .contactContentContainer{
    display: flex;
    gap: 50px;
  }
}