.box{
  width: 400px;
  height: 400px;
  background-color: aqua;
  border: 2px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

 /* margin: auto;*/

  transition: all 2s linear 1s;
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.box:hover{
  /*transform: rotate(45deg);
  transform: scale(2); box size increases 2 times of its width
  transform: scale(0.5); decreases

  transform: rotate(-45deg);
  transform: skew(45deg);  tilt clockwise
  transform: skew(-45deg); */

  transform: translate(500px, 500px);

}
p{
  font-size: 30px;
}